<html>
    <head>
        <title>Dock Chat</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Dock Chat</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('chat') }}">
		  <label> Web Container:  <strong>{{hostname}}</strong> </label>
                  <label> Last Message:  <strong>{{message}}</strong> </label>
                  <label for="message">Please enter a message:</label>
                  <input type="text" name="message" /><br />
                  <input type="submit" />
                </form>
            </div>
    </body>
</html>
 
